/* google font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* -----------------
    Common Styles
---------------------*/
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 1050px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: #000;
}
p{
    font-size: 1rem;
    line-height: 28px;
    color: #6c6c6c;
}
.btn{
    padding: 10px 24px;
    border: none;
    font-weight: 500;
    color: #FFFFFF;
    background:#E02C6D;
}
.btn i{
    margin: 0 8px;
}
.btn:hover{
    transform: translate(0px, 10px);
    transition: transform 1s;
}
a:hover {
    transform: translate(0px, 10px);
    transition: transform 1s;
}

header{
    background: #2D25A0;
    color: #FFFFFF;
}
/* header styles */
.home-container{
    width: 1100px;
    margin: 0 auto;
}
.home-banner:hover img{
    transform: translate(-40px);
    transition: transform 1s;
}

/* header navbar style  */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.nav-items a{
    color: #FFFFFF;
    display: inline-block;
    padding: 15px 18px;
}



/* header home banner section  */

#home-banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 40px 0;

}
.home-banner h1{
    font-size: 64px;
    margin: 10px 0;
}
.home-banner img{
    width: 100%;
    height: 100%;
}

/* player styles */

main{
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 27px 30px;
}
.player{
    width: 330px;
    height: 474px;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player:hover{
    transform: translate(0px, -15px );
    transition: transform 0.7s;
}

.player-img img{
    height: 256px;
    width: 300px;
}

.player-text h3{
    font-weight: bold;
    font-size: 28px;
    margin:10px 0px;

}
.player-text p{
    color: #6C6C6C;
    font-size: 1rem;
    margin:10px 0px;
}
/* Match Section Style  */
#players-info{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap:30px ;
    margin-top: 115px;
}
article{
    padding: 30px 69px 30px 0px;
}
article h1{
    font-size: 48px;
    font-weight: bold;
    margin: 8px 0;
    line-height: 60px
}
article p{
    margin-bottom: 30px;
}
.match-img img{
    width: 567px;
    height: 427px;
}
/* contact section  */
#contact{
    padding: 30px 0;
    box-sizing: border-box;
}
.contact-items{
    display: grid;
    grid-template-columns:1fr 1fr;
}
.contact-img img{
  height: 400px;
}

.section-header{
    font-size: 35px;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 30px;

}

input{
    display: block;
    padding: 10px;
    border: none;
    width: 340px;
    margin: 20px 0;
    border-radius: 2px;
    background:#bdbdbd85;
}
textarea{
    background:#cec7c785;
}
/* Leaderboard Section  */
.leaderboard-title{
    font-size: 30px;
}
table, th, td, tr{
    border-collapse: collapse;
    border: 1px solid gray;
    width:900px;
    text-align: center;
    font-size: 18px;

}

tr:nth-child(2n){
    background-color:#E02C6D ;
    color: #FFFFFF;
}
span{
    font-size: 18px;
    font-weight: 600;
}
/* footer styles */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #c7c7c7;
    padding: 30px 0;
  }

  footer img {
    width: 480px;
  }

  .footer-icons i {
    color: #969bab;
    margin: 0 14px;
    transition: all 0.4s ease-in-out;

  }
  .footer-icons i:hover{
      color:#e02c6d;;
  }
  footer p {
    font-size: 18px;
    color: #000;
    margin: 20px 0;
  }
/* Media query for Mobile  */
@media only screen and (max-width:480px) {
    #home-banner,
    #players,
    .contact-items{
        grid-template-columns:1fr;
        row-gap: 30px;
        justify-content: center;
        align-items: center;
    }
    #players-info{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;

    }
    .match-img img{
        width: 100%;
        height: 300px;
    }
    .nav-items{
        display: none;
    }
    .btn{
        padding: 8px 20px;
    }

    .home-banner h1{
        font-size: 35px;
    }
    .home-banner img{
        margin-top: 20px;
    }
    .home-container{
        width: 90%;
        margin: 0 auto;
    }
    .container{
        width: 90%;
        margin: 0 auto;
    }
    #player {
        padding: 20px;
    }
    #player-info{
        padding:  0 ;
    }
    article h1{
        font-size: 25px;
        margin: 0;
        line-height: 35px;
    }
    .contact-form{
        display: flex;
        flex-direction: column;
    }
    .contact-form .btn{
        margin: 5px;
    }
    input{
      width:300px;
    }
    .contact-img img{
        width:400px;
    }
    #leaderboad{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    table{
        width: 350px;
    }
    footer img{
        width: 200px;
    }
}

